<table class="w-full border bg-slate-600 rounded-2xl">
  <thead class="h-10 bg-gray-400 w-full">
    <th class="border border-r-black w-6/12 rounded-tl-xl">Nombre</th>
    <th class="border border-x-black w-3/12">Etiquetas</th>
    <th class="border border-x-black w-1/12">Urgencia</th>
    <th class="border border-x-black w-1/12">Fecha</th>
    <th class="border border-l-black w-1/12 rounded-tr-xl">Detalles</th>
  </thead>
  <tbody>
    @for (task of taskList(); track $index) {
      <tr>

          <td class="border bg-slate-400 h-8"><button (click)="deleteTask(task.id!)">&#10006;</button>{{task.name}}</td>
          <td class="border bg-slate-400 h-8">{{task.tags ?? 'no existe'}}</td>
          <td class="border bg-slate-400 h-8">{{task.urgency}}</td>
          <td class="border bg-slate-400 h-8">{{task.date}}</td>
          <td class="border bg-sky-400 h-8"><button class="active:bg-sky-600 w-full h-full" [routerLink]="['../', 'task', task.id]">ver más</button></td>
      </tr>
    }
    <tr class="row-span-5"><a [routerLink]="['../', 'add-task']">
      <button class="w-full rounded-b-xl active:bg-blue-500 bg-sky-500 h-8">Add Task</button></a>
    </tr>

  </tbody>
</table>
