<div class="text-center flex flex-col">
  <h1 class="my-5 text-2xl">MultiTools App</h1>
  <hr class="border-black border-t" />
  <br />
  <!-- Buttons -->
  <button
    class="bg-white rounded-tl-xl text-black py-2 px-4 text-left active:bg-blue-600"
    routerLink="todo"
    routerLinkActive="active"
  >
    List tasks
  </button>
  <button
    class="bg-white text-black py-2 px-4 text-left active:bg-blue-600"
    routerLink="chat"
    routerLinkActive="active"
  >
    Chatting
  </button>
  <button
    class="bg-white rounded-bl-xl text-black py-2 px-4 text-left active:bg-blue-600"
    routerLink="other"
    routerLinkActive="active"
  >
    Others
  </button>
</div>
